:root {
    --default-top-padding: 1em;
}
    
body.light-mode {
    --color-background-header: #b0c6ff;
    --color-background: #aeaeff;
    --color-text: #1a2b1b;
    --color-link: #8a7a00;
    --color-border: var(--color-link);
}